[Desktop Entry]
Type=Application
Name=Immersed
Icon=/home/chris/appimages/immersed.png
Exec=/home/chris/appimages/Immersed-x86_64.AppImage
Categories=Office
Terminal=false
